@import '../../engine/engine.scss';

@include md-register-theme("default", (
  background: #fff,
  surface: #fff,
  primary: #6200ee,
  accent: #a3dac6
));

@import '~@vuematerial/avatar/theme.scss';
@import '~@vuematerial/base/theme.scss';
@import '~@vuematerial/button/theme.scss';
@import '~@vuematerial/content/theme.scss';
@import '~@vuematerial/divider/theme.scss';
@import '~@vuematerial/field/theme.scss';
