@import "~@vuematerial/motion/variables";

.md-toolbar {
  &.md-inset {
    .md-cut-out {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      .md-cut-out-mask {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
        transform-origin: 100% 0;
        border-radius: 50%;
        transition: $md-motion-default;
      }

      ~ * {
        z-index: 2;
      }
    }
  }

  &.md-fab-end {
    .md-fab,
    .md-extended-fab {
      right: 16px;
      transform: translate(0, -50%);
    }

    .md-extended-fab {
      right: 8px;
    }

    &.md-inset {
      .md-extended-fab {
        right: 16px;
      }

      .md-cut-out-mask {
        right: 8px;
        transform: translate(0, -50%);
      }
    }
  }

  .md-fab,
  .md-extended-fab {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
