@import './stylesheets/variables';

@include md-add-default-theme-overrides($md-button-default);

@mixin md-icon-on-buttons ($state, $type) {
  .md-icon-font {
    @include md-theme-property(color, $state, $type);
  }

  .md-icon-image {
    @include md-theme-property(fill, $state, $type);
  }
}

@mixin md-button-plain () {
  @if md-get-theme-mode() == light {
    color: #000;
    background-color: #fff;

    .md-icon-font {
      color: #000;
    }

    .md-icon-image {
      fill: #000;
    }
  } @else {
    color: #fff;
    background-color: #212121;

    .md-icon-font {
      color: #fff;
    }

    .md-icon-image {
      fill: #fff;
    }
  }

  .md-ripple-wave {
    background-color: currentColor;
    opacity: .26;
  }
}

.md-button {
  @include md-theme-component() {
    @include md-theme-property(color, text-primary, background);
    @include md-theme-override-property(min-width, button-min-width, button-min-width);
    @include md-theme-override-property(height, button-height, button-height);
    @include md-theme-override-property(border-radius, global-radius, button-radius);
    @include md-theme-override-property(font-size, button-font-size, button-font-size);

    &.md-dense {
      @include md-theme-override-property(height, button-dense-height, button-dense-height);
    }

    &.md-icon-button {
      @include md-theme-override-property(width, button-icon-size, button-icon-size);
      @include md-theme-override-property(min-width, button-icon-size, button-icon-size);
      @include md-theme-override-property(height, button-icon-size, button-icon-size);

      &.md-dense {
        @include md-theme-override-property(width, button-dense-height, button-dense-height);
        @include md-theme-override-property(min-width, button-dense-height, button-dense-height);
        @include md-theme-override-property(height, button-dense-height, button-dense-height);
      }
    }

    &.md-primary {
      @include md-theme-property(color, primary, background);
      @include md-icon-on-buttons(primary, background);
    }

    &.md-accent {
      @include md-theme-property(color, accent, background);
      @include md-icon-on-buttons(accent, background);
    }

    &.md-raised {
      @include md-theme-property(background-color, background);
      @include md-theme-property(color, text-primary, background);

      &.md-primary {
        @include md-theme-property(color, text-primary, primary);
        @include md-theme-property(background-color, primary);
        @include md-icon-on-buttons(text-primary, primary);

        .md-ripple-wave {
          @include md-theme-property(background-color, primary-light);
          opacity: 1;
        }
      }

      &.md-accent {
        @include md-theme-property(color, text-primary, accent);
        @include md-theme-property(background-color, accent);
        @include md-icon-on-buttons(text-primary, accent);

        .md-ripple-wave {
          @include md-theme-property(background-color, accent-dark);
          opacity: 1;
        }
      }

      &[disabled] {
        @include md-theme-property(background-color, disabled-background, background);
        @include md-theme-property(color, disabled, background);
      }
    }

    &.md-fab {
      @include md-theme-override-property(width, button-fab-size, button-fab-size);
      @include md-theme-override-property(min-width, button-fab-size, button-fab-size);
      @include md-theme-override-property(height, button-fab-size, button-fab-size);
      @include md-theme-override-property(border-radius, button-fab-radius, button-fab-radius);
      @include md-theme-property(background-color, accent);
      @include md-theme-property(color, text-primary, accent);
      @include md-icon-on-buttons(text-primary, accent);

      &.md-primary {
        @include md-theme-property(background-color, primary);
        @include md-icon-on-buttons(text-primary, primary);
        @include md-theme-property(color, text-primary, primary);

        .md-ripple-wave {
          @include md-theme-property(background-color, primary-light);
          opacity: 1;
        }
      }

      &.md-mini,
      &.md-dense {
        @include md-theme-override-property(width, button-fab-size-mini, button-fab-size-mini);
        @include md-theme-override-property(height, button-fab-size-mini, button-fab-size-mini);
      }

      &[disabled] {
        @include md-theme-property(background-color, disabled-background, background);
      }

      .md-ripple-wave {
        @include md-theme-property(background-color, accent-dark);
        opacity: 1;
      }
    }

    &.md-outlined {
      @include md-theme-override-property(border-width, button-outlined-border-width, button-outlined-border-width);
    }

    &.md-plain {
      @include md-button-plain;
    }

    &[disabled] {
      @include md-theme-property(color, disabled, background);
      @include md-icon-on-buttons(icon-disabled, background);
    }
  }
}
