/**
 * Neo theme font - HK Grotesk
 * By Alfredo Marco Pradil
 * https://hanken.co/product/hk-grotesk/
 *
 * Recomended font for latin glyphs (for others the recomended is
 * Lato Sans from Google)
 *
 */

/* Regular */
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local('HK Grotesk Regular'),
       local('HKGrotesk Regular'),
       url('fonts/hk-grotesk-regular.woff2') format('woff2'),
       url('fonts/hk-grotesk-regular.woff') format('woff');
}


/* Medium */
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  src: local('HK Grotesk Semibold'),
       local('HKGrotesk Semibold'),
       url('fonts/hk-grotesk-semibold.woff2') format('woff2'),
       url('fonts/hk-grotesk-semibold.woff') format('woff');
}


/* Semibold */
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local('HK Grotesk Semibold'),
       local('HKGrotesk Semibold'),
       url('fonts/hk-grotesk-semibold.woff2') format('woff2'),
       url('fonts/hk-grotesk-semibold.woff') format('woff');
}


/* Bold */
@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local('HK Grotesk Bold'),
       local('HKGrotesk Bold'),
       url('fonts/hk-grotesk-bold.woff2') format('woff2'),
       url('fonts/hk-grotesk-bold.woff') format('woff');
}



/**
 * Base styles
 *
 */

@mixin md-neo-font-theme () {
  @include md-theme-component(true) {
    font-family: 'HK Grotesk';
  }
}
