/**
 * Override extending the default palette giving new values. It will extend
 * the default values of the palette if has a property missing.
 * ---
 * Usage example:
 *
 * @include md-override-palette ((
 *   accent: blue,
 *   theme: "dark"
 * ))
 *
 * ---
 * @access public
 * @param {map} $palette —  The new palette
 */

@mixin md-override-palette ($palette) {
  $md-default-palette: map-merge($md-default-palette, $palette) !global;
}


/**
 * Create a new theme based on a given palette. It will extend the default
 * values of the palette if has a property missing.
 * ---
 * Usage example:
 *
 * @include md-register-theme("alternative", (
 *   primary: #212121,
 *   accent: #CDDC39,
 *   theme: dark
 * ));
 *
 * ---
 * @access public
 * @param {string} $name —  The theme name to be used with the Vue Material
 * @param {map} $palette [$md-default-palette] —  The theme palette
 */

@function md-get-color-by-contrast($color) {
  $color-contrast: md-pick-contrast($color);

  @if $color-contrast == 'dark' {
    @return darken($color, 8%);
  }

  @return lighten($color, 15%);
}

@function md-generate-base-palette-color($palette, $variation, $fallback) {
  $opposite-color: dark;

  @if str-index($variation, light) {
    $opposite-color: light;
  }

  $color: map-get($palette, $variation);
  $opposite-color: map-get($palette, #{$fallback}-#{$opposite-color});

  @if $color == null {
    @return md-get-color-by-contrast(map-get($palette, $fallback));
  }

  $color-contrast: md-pick-contrast($color);

  @if $color-contrast == 'light' {
    @return $color;
  }

  @if $opposite-color == null {
    @return md-get-color-by-contrast(map-get($palette, $fallback));
  }

  @return $opposite-color;
}

@function md-generate-base-palette($palette) {
  @return map-merge($palette, (
    primary-dark: md-generate-base-palette-color($palette, primary-dark, primary),
    primary-light: md-generate-base-palette-color($palette, primary-light, primary),
    accent-dark: md-generate-base-palette-color($palette, accent-dark, accent),
    accent-light: md-generate-base-palette-color($palette, accent-light, accent)
  ));
}

@mixin md-reset-theme-variables () {
  $md-theme-overrides: () !global;
  $md-css-variables: false !global;
}

@mixin md-register-theme ($name, $palette: $md-default-palette, $overrides: (), $css-variables: false) {
  @include md-reset-theme-variables;

  /* Double if to avoid weird evaluation of sass "or" operator */
  @if $palette != null {
    @if (length(map-keys($palette)) > 0) {
      $palette: map-merge($md-default-palette, md-generate-base-palette($palette));
    } @else {
      $palette: map-merge($md-default-palette, md-generate-base-palette($md-default-palette));
    }
  } @else {
    $palette: map-merge($md-default-palette, md-generate-base-palette($md-default-palette));
  }

  $theme: map-merge($md-themes, (
    #{$name}: $palette
  ));

  @if $css-variables == true {
    :root {
      @each $type, $value in $palette {
        --md-theme-#{$name}-#{$type}: #{$value}
      }
    }
  }

  $md-themes: $theme !global;
  $md-theme-overrides: map-merge($md-theme-overrides, $overrides) !global;
  $md-css-variables: $css-variables !global;
}


/**
 * Theme pieces of a given scss code for all pre registered themes.
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     background: md-theme(primary);
 *     color: md-theme(text-primary);
 *   }
 *
 *   &.md-accent {
 *     @include md-theme-component() {
 *       background: md-theme(accent);
 *       color: md-theme(text-accent);
 *     };
 *   }
 * }
 */

@mixin md-theme-component ($root: false) {
  @each $theme, $palette in $md-themes {
    $md-theme-palette: map-merge($md-theme-palette, $palette) !global;
    $md-current-theme: $theme !global;

    @if $root == true {
      .md-theme-#{$theme} {
        @content;
      }
    } @else {
      .md-theme-#{$theme} & {
        @content;
      }
    }
  }
}


/**
 * Theme a single css property
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     @include md-theme-property(background, primary);
 *     @include md-theme-property(color, text-primary, primary);
 *   }
 *
 *   &.md-accent {
 *     @include md-theme-component() {
 *       @include md-theme-property(background, accent);
 *       @include md-theme-property(color, text-primary, accent);
 *     }
 *   }
 * }
 *
 * ---
 * @access public
 * @param {string} $property —  The css property
 * @param {string} $type —  A palette type
 * @param {string} $background —  The background color to analyse contrast
 * @param {number} $opacity —  The opacity amount
 */

@mixin md-theme-property ($property, $type, $background: "", $opacity: "") {
  $value: md-theme($type, $background);
  $variant: null;

  @if $background != "" {
    $variant: -on-#{$background};
  }

  @if $opacity != "" {
    $value: rgba($value, $opacity);
  }

  #{$property}: $value;

  @if $md-css-variables == true {
    #{$property}: var(--md-theme-#{$md-current-theme}-#{$type}#{$variant}, $value);
  }
}


/**
 * Override a property based in the current theme
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     @include md-theme-override-property(border-radius, 'global-radius', 'button-radius');
 *   }
 * }
 *
 * ---
 * @access public
 * @param {string} $property —  The css property
 * @param {string} $var —  override value declared when creating a theme
 * @param {string} $name —  A meaningful name to be used ass css variable
 * @param {function} $calc —  a simple calculation with the value - Only supports one operation
 */

@mixin md-theme-override-property ($property, $var, $name, $calc: null) {
  $value: map-get($md-theme-overrides, $var);
  $defaultValue: map-get($md-theme-overrides, $name);

  @if ($value == null) {
    $value: $defaultValue;
  }

  @if $value != null {
    @if $calc != null {
      $value: call($calc, $value);
    }

    #{$property}: $value;

    @if $md-css-variables == true {
      #{$property}: var(--md-theme-#{$md-current-theme}-#{$name}, $value);
    }
  }
}

@mixin md-add-default-theme-overrides ($overrides) {
  $md-theme-overrides: map-merge($overrides, $md-theme-overrides) !global;
}
