@import "~@vuematerial/motion/variables";
@import "./mixins";

.md-ripple {
  @include md-ripple-state;

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  *:not(.md-ripple-wave) {
    position: relative;
    z-index: 3;
  }
}

.md-ripple-wave {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: currentColor;
  border-radius: 50%;
  transform: scale(2.3) translateZ(0);

  &.md-centered,
  &.md-force-centered {
    top: 50%;
    left: 50%;
  }
}

.md-ripple-enter-active,
.md-ripple-leave-active {
  transition-duration: 1s;
  transition-property: opacity, transform;
  will-change: opacity, transform;

  &.md-centered {
    transition-duration: 1.2s;
  }
}

.md-ripple-enter-active {
  transition-timing-function: $md-motion-open-timing;

  &.md-force-centered {
    opacity: 0;
  }
}

.md-ripple-leave-active {
  transition-duration: .35s;
  transition-timing-function: $md-motion-default-timing;

  &.md-force-centered {
    transition: $md-motion-simple;
  }
}

.md-ripple-enter {
  transform: scale(.54) translateZ(0);

  &.md-force-centered {
    opacity: .16;
    transform: scale(.3) translateZ(0);

    &:before {
      opacity: .06;
    }
  }
}

.md-ripple-leave-active {
  opacity: 0 !important;
}
