@import "~@vuematerial/motion/variables";
@import "./mixins";

.md-ripple {
  @include md-ripple-state;

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  *:not(.md-ripple-wave) {
    position: relative;
    z-index: 3;
  }

  &.md-centered,
  &.md-force-centered {
    .md-ripple-wave {
      top: 50%;
      left: 50%;
    }
  }
}

.md-ripple-wave {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: currentColor;
  border-radius: 50%;
  transform: scale(1) translateZ(0);
  transition: 1s opacity $md-motion-open-timing,
              .7s transform $md-motion-open-timing;
  will-change: opacity, transform;
}

.md-ripple-enter {
  transform: scale(.26) translateZ(0);
}

.md-ripple-leave-active {
  opacity: 0 !important;
  transition-duration: .45s;
  transition-timing-function: $md-motion-default-timing;
}
