$md-ripple-state: (
  light: (
    hover: .08,
    activated: .12,
    focus: .12,
    pressed: .16,
    selected: .08
  ),
  dark: (
    hover: .12,
    activated: .24,
    focus: .24,
    pressed: .32,
    selected: .16
  )
)
