@import "~@vuematerial/motion/variables";
@import './variables';

.md-ripple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle, #fff 100%, #000 100%);
}

.md-ripple-wave {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: currentColor;
  border-radius: 50%;
  opacity: .2;
  transform: scale(2.3) translateZ(0);

  &.md-centered,
  &.md-force-centered {
    top: 50%;
    left: 50%;
  }

  ~ *:not(.md-ripple-wave) {
    position: relative;
    z-index: 2;
  }
}

.md-ripple-enter-active,
.md-ripple-leave-active {
  transition: .55s $md-motion-open-timing;
  transition-property: opacity, transform;
  will-change: opacity, transform;

  &.md-force-centered {
    opacity: 0;
  }

  &.md-centered {
    transition-duration: 1s;
  }
}

.md-ripple-enter {
  transform: scale(.7) translateZ(0);
  opacity: .1;

  &.md-force-centered {
    opacity: .2;
  }
}

.md-ripple-leave-active {
  opacity: 0 !important;
}
