@import "~@vuematerial/elevation/mixins";
@import "~@vuematerial/motion/variables";
@import "variables";

.md-field {
  width: 100%;
  display: flex;
  position: relative;
  font-family: inherit;

  + #{&} {
    margin-top: 24px;
  }

  &.focused {
    .md-field-notch-mask {
      transition: width $md-motion-default;

      &:after {
        transition: border $md-motion-default;
        border-width: 2px;
        border-color: #6200ee;
      }

      &.left {
        width: 8px;
      }

      &.right {
        width: calc(100% - 66px);
      }
    }

    label {
      transform: translate3D(0, -$md-field-height / 2, 0);
      color: #6200ee;
      font-size: 12px;
    }

    .md-input,
    .md-textarea {
      padding: 12px 11px 11px;
      border-color: #6200ee;
      border-width: 0 2px 2px;
      outline: none;
      transition: $md-motion-default;
      transition-property: padding, border, color;
    }
  }

  .md-field-notch {
    height: $md-field-height;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
  }

  .md-field-notch-mask {
    height: $md-field-radius * 2;
    position: absolute;
    overflow: hidden;
    transition: width $md-motion-complex;

    &:after {
      height: 200%;
      position: absolute;
      border: 1px solid #ededed;
      transition: border $md-motion-close;
      content: " ";
    }

    &.left {
      width: 41px;
      left: 0;

      &:after {
        width: 9999em;
        border-top-left-radius: $md-field-radius;
      }
    }

    &.right {
      width: calc(100% - 25px);
      right: 0;

      &:after {
        width: 100%;
        border-top-right-radius: $md-field-radius;
        border-left-width: 0;
      }
    }
  }

  label {
    padding: 0 12px;
    position: absolute;
    top: ($md-field-height - 16px) / 2;
    left: 0;
    transition: $md-motion-default;
    touch-action: manipulation;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
  }

  .md-input,
  .md-textarea {
    min-height: $md-field-height;
    margin: 0;
    padding: 12px;
    display: block;
    flex: 1;
    background-color: #fff;
    border: solid #ededed;
    border-width: 0 1px 1px;
    border-radius: $md-field-radius;
    background: none;
    touch-action: manipulation;
    transition: $md-motion-close;
    transition-property: padding, border, color;
    font-family: inherit;
    font-size: 16px;

    &[type="date"] {
      font-size: 16px;
    }

    &[disabled] {
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-size: 16px;
      text-shadow: none;
      -webkit-text-fill-color: initial;
      transition: $md-motion-default;
      transition-property: font-size, color;
    }

    ~ .md-icon {
      left: auto;
      right: 12px;
    }
  }

  .md-input {
    height: $md-field-height;
    line-height: $md-field-height;
  }

  .md-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: ($md-field-height - 24px) / 2;
    left: 12px;
    color: rgba(#000, .54);
    font-style: normal;
    line-height: 24px;
    text-align: center;

    ~ label {
      left: 36px;
    }

    ~ .md-input {
      padding-left: 48px;
    }
  }
}
