@import '../../engine/engine.scss';

@include md-register-theme("neo", (
  background-variant: #f8f8f8,
  primary: #0092D6,
  accent: #28C76F
));

$md-field-radius: 8px;

@import '~@vuematerial/avatar/avatar';
@import '~@vuematerial/content/content';
@import '~@vuematerial/divider/divider';
@import '~@vuematerial/elevation/elevation';
@import '~@vuematerial/ripple/ripple';
@import '~@vuematerial/field/field';

@import '~@vuematerial/avatar/theme.scss';
@import '~@vuematerial/base/theme.scss';
@import '~@vuematerial/content/theme.scss';
@import '~@vuematerial/divider/theme.scss';
@import '~@vuematerial/field/theme.scss';


@import './fonts/fonts.scss';
