@import '../../engine/engine.scss';

@include md-register-theme("neo", (
  background-variant: #f8f8f8,
  primary: md-get-palette-color(blue, A400),
  accent: md-get-palette-color(green, A200)
));

$md-field-radius: 8px;

@import '~@vuematerial/avatar/avatar';
@import '~@vuematerial/button/button';
@import '~@vuematerial/content/content';
@import '~@vuematerial/divider/divider';
@import '~@vuematerial/elevation/elevation';
@import '~@vuematerial/field/field';
@import '~@vuematerial/ripple/ripple';

@import '~@vuematerial/avatar/theme.scss';
@import '~@vuematerial/base/theme.scss';
@import '~@vuematerial/button/theme.scss';
@import '~@vuematerial/content/theme.scss';
@import '~@vuematerial/divider/theme.scss';
@import '~@vuematerial/field/theme.scss';


@import './fonts/fonts.scss';
