@import '../../engine/engine';
@import './fonts/fonts';

$theme-colors: (
  theme: dark,
  primary: #2979ff,
  primary-light: #75a7ff,
  primary-dark: #004ecb,
  accent: #2e7d32,
  accent-light: #60ad5e,
  accent-dark: #005005
);
$theme-overrides: (
  global-radius: 6px,
  button-radius: 6px,
  button-outlined-border-width: 2px,
  content-radius: 6px,
);
$generate-css-variables: false;

@include md-register-theme('neo-dark', $theme-colors, $theme-overrides, $generate-css-variables);

@import '~vue-material/theme/all';

@include md-neo-font-theme;
