@import '../../engine/engine';
@import './fonts/fonts';

$theme-colors: (
  theme: dark,
  surface: #0F1217,
  background: #191D25,
  primary: #0075F2,
  primary-light: #66a3ff,
  primary-dark: #004bbe,
  accent: #9B287B,
  accent-light: #cf5baa,
  accent-dark: #69004f
);
$theme-overrides: (
  global-radius: 6px,
  button-outlined-border-width: 2px,
  button-radius: 6px,
  content-radius: 6px,
  dialog-radius: 6px,
  field-radius: 6px
);
$generate-css-variables: false;

@include md-register-theme('neo-dark', $theme-colors, $theme-overrides, $generate-css-variables);

@import '~vue-material/theme/all';

@include md-neo-font-theme;
