@import '../../engine/engine';
@import './fonts/fonts';

$theme-colors: (
  theme: light,
  surface: #fff,
  background: #f8f8f8,
  primary: #2979ff,
  primary-light: #75a7ff,
  primary-dark: #004ecb,
  accent: #212121,
  accent-light: #484848,
  accent-dark: #000
);
$theme-overrides: (
  global-radius: 6px,
  button-radius: 6px,
  button-outlined-border-width: 2px,
  content-radius: 6px,
  dialog-radius: 6px
);
$generate-css-variables: false;

@include md-register-theme('neo', $theme-colors, $theme-overrides, $generate-css-variables);

@import '~vue-material/theme/all';

@include md-neo-font-theme;
