$md-button-default: (
  button-min-width: 64px,
  button-height: 36px,
  button-dense-height: 32px,
  button-radius: 2px,
  button-font-size: 14px,
  button-icon-size: 40px,
  button-fab-radius: 50%,
  button-fab-size: 56px,
  button-fab-size-mini: 40px,
  button-extended-fab-radius: 32px,
  button-extended-fab-size: 48px,
  button-extended-fab-size-mini: 40px,
  button-outlined-border-width: 1px
);
