$md-avatar-size: 40px !default;
$md-avatar-large-size: 64px !default;
$md-avatar-large-icon: 40px !default;
$md-avatar-small-size: 24px !default;
$md-avatar-small-icon: 16px !default;
$md-avatar-radius: $md-avatar-size !default;
$md-avatar-large-radius: $md-avatar-large-size !default;
$md-avatar-small-radius: $md-avatar-small-size !default;
