@import "~@vuematerial/motion/variables";
@import './variables';

.md-avatar {
  width: $md-avatar-size;
  min-width: $md-avatar-size;
  height: $md-avatar-size;
  margin: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: relative;
  border-radius: $md-avatar-radius;
  transition: $md-motion-default;
  transition-property: color, background-color;
  will-change: color, background-color;
  font-size: $md-avatar-size - 16px;
  letter-spacing: -.05em;
  vertical-align: middle;

  &.md-large {
    min-width: $md-avatar-large-size;
    min-height: $md-avatar-large-size;
    border-radius: $md-avatar-large-radius;
    font-size: $md-avatar-large-icon - 8px;

    .md-icon {
      font-size: $md-avatar-large-icon !important;
    }
  }

  &.md-small {
    width: $md-avatar-small-size;
    min-width: $md-avatar-small-size;
    height: $md-avatar-small-size;
    border-radius: $md-avatar-small-radius;
    font-size: $md-avatar-small-icon - 2px;

    .md-icon {
      font-size: $md-avatar-small-icon !important;
    }
  }

  .md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .md-ripple {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
