@import '../../engine/engine';
@import './fonts';

$theme-colors: (
  theme: light,
  background: #fff,
  surface: #fff,
  primary: #5d1049,
  primary-dark: #4e0d3a,
  primary-light: #720d5d,
  accent: #e30425,
  accent-dark: #a80000,
  accent-light: #ff554f
);
$theme-overrides: (
  global-radius: 16px,
  button-radius: 36px,
  button-outlined-border-width: 2px,
  dialog-radius: 16px
);
$generate-css-variables: false;

@include md-register-theme('crane', $theme-colors, $theme-overrides, $generate-css-variables);

@import '~vue-material/theme/all';

@include md-crane-font-theme;
