@import "~@vuematerial/motion/variables";

.md-divider {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  transition: $md-motion-default;
  will-change: margin-left;

  &.md-inset {
    margin-left: 72px;
  }
}
