@import "~@vuematerial/motion/variables";
@import "~@vuematerial/elevation/mixins";

.md-button-clean {
  margin: 0;
  padding: 0 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0;
  transition: $md-motion-default;
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: normal;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.md-button {
  @extend .md-button-clean;

  margin: 6px 8px;
  user-select: none;
  font-weight: 500;
  text-transform: uppercase;

  &.md-ripple {
    width: auto;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    opacity: 0;
    transition: $md-motion-default;
    content: ' ';
  }

  &:hover:before {
    opacity: .08;
  }

  &.md-ripple-disabled:active:before {
    opacity: .2;
  }

  + .md-button {
    margin-left: 0;
  }
}

.md-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
