.md-button {
  &.md-extended-fab,
  &.md-fab {
    @include md-elevation(6);

    margin: 0;
    padding: 0;
    overflow: hidden;

    &:active {
      @include md-elevation(12);
    }

    &.md-primary {
      &:hover:before {
        opacity: .16;
      }
    }
  }

  &.md-extended-fab {
    padding: 0 20px;

    .md-icon {
      margin: 0 12px 0 -8px;
    }
  }

  &.md-fab {
    &.md-fab-top-right,
    &.md-fab-top-left {
      position: absolute;
      top: 16px;
    }

    &.md-fab-bottom-right,
    &.md-fab-bottom-left {
      position: absolute;
      bottom: 16px;
    }

    &.md-fab-top-center,
    &.md-fab-bottom-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &.md-fab-top-center {
      top: 16px;
    }

    &.md-fab-bottom-center {
      bottom: 16px;
    }

    &.md-fab-top-right,
    &.md-fab-bottom-right {
      right: 16px;
    }

    &.md-fab-top-left,
    &.md-fab-bottom-left {
      left: 16px;
    }

    &.md-fixed {
      position: fixed;
    }
  }
}
