.md-icon-button,
.md-fab {
  border-radius: 50% !important;
  z-index: 10;
}

.md-icon-button,
.md-fab.md-mini,
.md-fab.md-dense {
  .md-ripple-wave {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
  }
}
