$md-button-min-width: 64px !default;
$md-button-height: 36px !default;
$md-button-radius: 4px !default;
$md-button-font-size: 14px !default;

$md-button-dense-height: 32px !default;

$md-button-icon-size: 40px !default;

$md-button-fab-size: 56px !default;
$md-button-fab-size-mini: $md-button-icon-size !default;
