$md-avatar-default: (
  avatar-size: 40px,
  avatar-radius: 40px,
  avatar-large-size: 64px,
  avatar-large-radius: 64px,
  avatar-large-icon: 40px,
  avatar-small-size: 24px,
  avatar-small-radius: 24px,
  avatar-small-icon: 16px
);
