@import "~@vuematerial/elevation/mixins";
@import "~@vuematerial/motion/variables";
@import "variables";

.md-field {
  &.focused {
    .md-field-notch-mask {
      transition: width $md-motion-default;

      &:after {
        transition: border $md-motion-default;
        border-width: 2px;
        border-color: #6200ee;
      }

      &.left {
        width: 8px;
      }

      &.right {
        width: calc(100% - 66px);
      }
    }

    label {
      transform: translate3D(0, -$md-field-height / 2, 0);
      color: #6200ee;
      font-size: 12px;
    }

    .md-input,
    .md-textarea {
      padding: 12px 11px 11px;
      border-color: #6200ee;
      border-width: 0 2px 2px;
      outline: none;
      transition: $md-motion-default;
      transition-property: padding, border, color;
    }
  }
}
